.body{
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
p.home{
    display: block;
    text-align: center;
    width: 60%;
}